@tailwind base;
@tailwind components;
@tailwind utilities;
  

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #bae6fd;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #38bdf8;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0369a1;
}