@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body{
    /* background-color: #f3f4f6; */
    background-color: #2F3437;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e5e7eb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9ca3af;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

::selection {
    background-color: #2F5768;
}

.tagCardPc::-webkit-scrollbar {
    width:4px;
    height: 4px;
}

.tagCardPc::-webkit-scrollbar-thumb {
    background: #fcd34d;
}

@media (max-width: 940px) {
    .tagCardPc {
        display: none;
    }
}


@media (min-width: 940px) {
    .tagCardMobile {
        display: none;
    }
    .main {
        padding-top: 96px;
    }
}